header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__logo {
    margin-bottom: 1.5rem;
    display: inline-block;
}

.header__logo img {
    height: 4rem;
}

/* ========== CTA ========== */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ========== SOCIALS ========== */

.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

.header__socials a svg {
    transition: 0.2s;
}

.header__socials a:hover svg {
    transform: scale(1.2);
}

/* ========== ME ========== */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 26rem;
    overflow: hidden;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

/* ========== SCROLL DOWN ========== */

.scroll__down {
    display: flex;
    align-items: center;
    position: absolute;
    right: -2.3rem;
    bottom: 5.5rem;
    transform: rotate(90deg);
    font-weight: 200;
    font-size: 0.9rem;
}

.scroll__down svg {
    font-size: 2.5rem;
    transform: rotate(-90deg);
    padding-bottom: 1rem;
    transition: 0.1s;
}

.scroll__down:hover svg {
    transform: rotate(-90deg) translateY(-0.5rem);
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */

@media screen and (max-width: 1024px) {
    header {
        height: 80vh;
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .header__logo img {
        height: 2.5rem;
    }

    .me {
        width: 18rem;
        padding: 2rem 1.5rem 1.5rem;
        left: calc(50% - 9rem);
        margin-top: 2rem;
    }
}
